<div class="container">
  <div class="navbar">
    <div class="logo">
      <h3>PLANA</h3>
      <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
    </div>

    <div class="title">
      <h3>ADMIN DASHBOARD</h3>
    </div>
  </div>

  <div class="bottom">
    <div class="header-text">
      <div class="spacer"></div>
      <h4>ANALYTICS</h4>
      <div class="spacer"></div>
      <button class="generate-report-btn" (click)="generatePDF()">Generate PDF Report</button>
    </div>

    <div class="analysis">
      <div class="card">
        <i class="fa fa-users" aria-hidden="true"></i>
        <p>{{ numberOfUsers }}</p>
      </div>
      <div class="card">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <p>{{ numberOfEvents }}</p>
      </div>
      <div class="card">
        <i class="fa-solid fa-money-check-dollar"></i>
        <p>KSH {{ totalRevenue }}</p>
      </div>
    </div>

    <div class="charts">
      <div class="chart-container">
        <p-chart type="pie" [data]="userRolesData" [options]="userRolesOptions"></p-chart>
      </div>
  
      <div class="chart-container">
        <p-chart type="bar" [data]="eventChartData"></p-chart>
      </div>
  
      <div class="chart-container">
        <p-chart type="bar" [data]="revenueChartData"></p-chart>
      </div>
    </div>
  </div>
</div>