/* src/app/components/manager-dashboard/manager-dashboard.component.css */
.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
  
  .container .navbar {
    width: 99.2%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: #36C2CE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .navbar .logo {
    width: 20%;
    height: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .logo h3, i {
    font-size: 30px;
    color: white;
  }
  
  .navbar .title {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title h3 {
    font-size: 30px;
    color: white;
  }
  
  .bottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .bottom .header-text {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-text h4 {
    font-size: 17px;
    color: black;
  }
  
  .bottom .analysis {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    gap: 10px;
  }
  
  .analysis .card {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #36C2CE;
  }
  
  .card h5 {
    font-size: 15px;
    color: white;
  }
  
  .card p {
    font-size: 15px;
    color: white;
  }
  
  .pcharts{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .pchart{
    width: 25%;
    height: 270px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  