<div class="main">

  <div class="brand">
    <p>PLANA</p>
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
  </div>

  <div class="container">
    <div *ngIf="updateSuccess" class="success">
      {{ successMessage }}
    </div>

    <!-- User Details Section -->
    <div class="user-details">
      <div class="profile-icon">
        <i class="fa fa-user"></i>
      </div>
      <div class="user-info">
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Account Status: {{ accountStatus }}</p>
      </div>
    </div>

    <!-- Profile Update Form Section -->
    <div class="form">
      <div class="form-header">
        <h3>Update Profile</h3>
      </div>

      <form #userProfileForm="ngForm" (ngSubmit)="onSubmit(userProfileForm)">
        <div class="inputs">
          <input
            type="email"
            name="email"
            placeholder="Email"
            [(ngModel)]="user.email"
            readonly
            #email="ngModel"
          />

          <input
            type="password"
            name="password"
            placeholder="New Password"
            [(ngModel)]="user.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div *ngIf="showErrorMessages && password.invalid && password.touched" class="error">
            <div *ngIf="password.errors?.['required']">Password is required.</div>
            <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters long.</div>
          </div>
        </div>

        <div class="btns">
          <button type="submit" [disabled]="userProfileForm.invalid">Update Profile</button>
        </div>
      </form>
    </div>

    <div *ngIf="error" class="error">
      {{ error }}
    </div>
  </div>
</div>
